apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ingress.yaml
  - database-connection-secret.yaml
  - pull-secret.yaml

configMapGenerator:
  - name: example-config-map
    literals:
      - MONGO_DBNAME=todos-nonproduction-example2
