apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../_base
- ingress.yaml
- database-connection-secret.yaml
- pull-secret.yaml
configMapGenerator:
- name: example-config-map
  literals:
  - MONGO_DBNAME=todos-production-example
images:
- name: massfice/test-repo
  newTag: 420c6fa3294209ee7971024dc07b864639592280
