apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../_base
- ingress.yaml
- database-connection-secret.yaml
- pull-secret.yaml
configMapGenerator:
- name: example-config-map
  literals:
  - MONGO_DBNAME=todos-nonproduction-example2
images:
- name: massfice/todo-example
  newTag: 33d45fb3bc1245138fffae9e56e78ec0c8a72372
