apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: standard-apps
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: git@github.com:Massfice-Premiere/argocd.git
      revision: HEAD
      files:
      - path: apps/**.json
  template:
    metadata:
      name: '{{ .name }}'
      labels:
        argocd-image-updater.argoproj.io/write-back-method: git
        argocd-image-updater.argoproj.io/write-back-target: kustomization
        argocd-image-updater.argoproj.io/git-branch: main
    spec:
      project: default
      source:
        repoURL: git@github.com:Massfice-Premiere/argocd.git
        targetRevision: HEAD
        path: '{{ path }}/{{ .dir }}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ .namespace }}'
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          selfHeal: true
          prune: true
          allowEmpty: true
